@theme {
  --font-josefin: "Josefin Sans", sans-serif;
}
@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

.nav-bar a:hover{
    color: #0CFFFF;
}

.floating {
  animation: float 3s ease-in-out infinite;
}

.bg-grid {
  background-image: linear-gradient(to right, rgba(255,255,255,0.1) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(255,255,255,0.1) 1px, transparent 1px);
  background-size: 60px 60px;
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}



/*NavBar styles*/
.machine{
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 23ch;
  animation: typing 2s steps(12),
  blink .5s infinite step-end alternate;
  overflow:hidden;
}

@keyframes typing {
  from{width: 0}
}

@keyframes blink {
  80%{border-color: transparent;}
}

@keyframes robotic-bounce {
  0%, 100% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(10px);
  }
}

.animate-robotic-bounce {
  animation: robotic-bounce 1.5s infinite;
}



.toast {
  opacity: 1;
  transform: translateY(0);
  animation: fade-in 0.8s ease-in;
  
}

@keyframes fade-in {
  0% {
    /* Effect values */
    opacity: 0;
    transform: translateY(150px);
  }
}